{{>layout/header}}
<h1>게시판 목록</h1>
{{#userInfo}}
    <p>{{username}}님 안녕하세요</p><br>
{{/userInfo}}
<table calss="table table-horizontal" table-border>
    <thead class="thead-strong">
    <tr>
    <th>글번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일자</th>
    <th>일반 조회수</th>
    <th>전문가 조회수</th>
    <th>추천수</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#boardList}}
    <tr>
        <td>{{bno}}</td>
        <td><a href="/detail/{{bno}}">{{title}}</a></td>
        <td>{{writer}}</td>
        <td>{{regdate}}</td>
        <td>{{ucount}}</td>
        <td>{{acount}}</td>
        <td>{{count}}</td>
    </tr>
    </tbody>
    {{/boardList}}
    </tbody>
</table>
<button type="button" onclick="location.href='write'">등록</button>
<button type="button" onclick="location.href='/user/list'">회원목록</button>
{{>layout/footer}}