{{>layout/header}}
<h1>로그인</h1>
<form id="login">
아이디<input type="text" id="userid" name="userid"><br>
비밀번호<input type="password" id="password" name="password"><br>
<button type="button" id="btn-login" name="btn-login">로그인</button>
</form>
{{>layout/footer}}