<html>
<head>
</head>
<body>
        <span><strong>댓글</strong></span>
            <div>
                <table class="table">
                    <tr>
                        <td>
                            <textarea rows="3" cols="8" placeholder="댓글을 입력하세요"></textarea>
                            <br>
                            <div>
                                <a href='#' onClick="" class="btn-reply">등록</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
</body>
</html>