{{>layout/header}}
<h1>게시글 등록</h1>
제목<input type="text" id="title" name="title"><br>
내용<textarea id="content" name="content"></textarea><br>
작성자<input type="text" id="writer" name="writer"><br>
    <button type="button" id="btn-write">등록</button>
    <button type="button" onclick="location.href='/'">취소</button>
{{>layout/footer}}