<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.aaa.mapper.UserMapper">
    <select id="userList" resultType="com.board.aaa.dto.UserListDto">
        select *
        from users
    </select>

    <select id="userLogin" resultType="com.board.aaa.dto.UserLoginDto">
       select *
       from users
       where userid=#{userid} and password=#{password}
    </select>
    <select id="type" resultType="com.board.aaa.dto.ReDto">
		select *
		from users
		where userid=#{userid}
	</select>

</mapper>